.btn-exercise-action {
  margin-left: 10px;
}

.exercise-entry {
  /*
  border-top: 1px solid #50596c;
  padding-top: 1rem;
  */
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.exercise-entry .exercise-entry-details {
  margin-left: 1rem;
}
