.workout-month-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.workout-panel {
  font-size: 0.65rem;
  background: #f8f9fa;
}

/*
.workout-panel .menu {
  font-weight: normal;
}
*/

.workout-panel-notes {
  word-break: break-all;
}

.workout-details {
  margin-left: 1rem;
  font-weight: 300;
  font-size: 0.65rem;
}

.workout-details .workout-exercise {
  border-bottom: 1px solid #727e96;
}

.workout-details .workout-exercise.row {
  padding-top: 1rem;
}

.workout-details .row {
  padding-top: 0.2rem;
}
