.workout-panel {
  font-weight: bold;
}

.workout-panel .menu {
  font-weight: normal;
  font-size: 1.4rem;
}

.workout-panel-notes {
  font-size: 1.5rem;
  word-break: break-all;
}

.workout-details {
  margin-left: 1rem;
  font-weight: 300;
  font-size: 1.6rem;
}

.workout-details td {
  padding: 1rem 1rem;
  /* border-right: .1rem solid #f0f1f4; */
}

.workout-details .workout-exercise {
  border-bottom: .1rem solid #727e96;
}

.workout-details .workout-exercise.row {
  padding-top: 0.5rem;
}

.workout-details .row {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
