/**
 * Utility
 */

.section-content {
  margin-top: 2rem;
}

.margin-top-3rem {
  margin-top: 3rem;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.float-actions {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.bg-gray {
  background: #f8f9fa;
  color: #667189;
}

/**
 * Spectre overrides
 */

.input-group .input-group-addon {
  padding: 0.8rem .8rem;
}

.form-input-hint {
  margin-top: -0.5rem;
}

/**
 * Animations
 */

.fade-in {
  animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -webkit-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
